# Documentation: https://www.kernel.org/pub/software/scm/git/docs/git-config.html

[user]
	email = brady.holt@gmail.com
	name = Brady Holt
[push]
	default = current
[core]
	excludesfile = /Users/bholt/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	bc3 = trustExitCode
	keepBackup = false
[diff]
	tool = bc3
	compactionHeuristic = true
[pull]
#	rebase = true
[mergetool "bc3"]
	trustExitCode = true
[commit]
	template = /Users/bholt/.stCommitMsg
