# Documentation: https://www.kernel.org/pub/software/scm/git/docs/git-config.html

[user]
	email = brady.holt@gmail.com
	name = Brady Holt
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC3iZmqq8zcEI6rzTb+LtKWa/JsdBLPFQr6sYB+Ra/nBaG14+tUmsceo8597x282aB+wFdFVR39LXOT1GW0L65SlyZ1AozvBO6MbhxEnjzRUOMmMEwbWSRGv/ctUGlnbf46b61YKtufhXMyf3tA79nDzAJySjWqCJVcft44qwWtQtUqpBg5ZQqgFr0bAKe65vo3YSKRwJ6WnCVScna4It3ThwIW+I0T7+eomfNMn6AfED1cZKI6vCQHGxXz8MaTZWdKnls/rpXqI9NdASTUL5qJqz69xQ3G1yyzDg/JXmzNUyhYvslZeJzHMuiC3jplclGTH8cxIjshupUQjl43AgcH
[push]
	default = current
	autoSetupRemote = true
[core]
	excludesfile = /Users/bholt/.gitignore_global
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	keepBackup = false
[diff]
	tool = bc3
	compactionHeuristic = true
	colorMoved = zebra
[pull]
	ff = true
  rebase = true
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
