# Documentation: https://www.kernel.org/pub/software/scm/git/docs/git-config.html

[user]
	email = brady.holt@gmail.com
	name = Brady Holt
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKIJWxpeDkN8WYdgR3cDCSeZOGhuSAFYLUui2TtFH57Z
[push]
	default = current
	autoSetupRemote = true
[core]
	excludesfile = /Users/bholt/.gitignore_global
	editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
	keepBackup = false
[diff]
	tool = bc3
	compactionHeuristic = true
	colorMoved = zebra
[pull]
	ff = true
  rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager