<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.change-wallpaper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/bholt/.asdf/shims/node</string>
		<string>/Users/bholt/.bin/change-wallpaper</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/tmp/local.job.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/local.job.stdout</string>
	<key>StartInterval</key>
	<integer>180</integer>
</dict>
</plist>